.wporg-theme-style-variations__screenshot {
	figure {
		margin-bottom: 0;
	}
}

.wporg-theme-style-variations__heading {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-block-start: var(--wp--preset--spacing--10);

	h2 {
		margin: 0 !important;
		font-family: var(--wp--preset--font-family--inter);
		font-size: var(--wp--preset--font-size--normal);
		line-height: var(--wp--custom--body--typography--line-height);
	}

	.wporg-theme-style-variations__buttons {
		display: flex;

		.wp-block-button__link {
			--wp--custom--button--spacing--padding--top: 6px !important;
			--wp--custom--button--spacing--padding--bottom: 6px !important;
			--wp--custom--button--spacing--padding--left: 6px !important;
			--wp--custom--button--spacing--padding--right: 6px !important;
		}

		.wp-block-button:first-child button {
			border-top-right-radius: 0;
			border-bottom-right-radius: 0;
		}

		.wp-block-button:not(:first-child) button {
			border-left: none;
			border-top-left-radius: 0;
			border-bottom-left-radius: 0;
		}

		svg {
			vertical-align: middle;
			fill: currentColor !important;

			html[dir="rtl"] & {
				transform: rotate(180deg);
			}
		}

		[aria-disabled="true"] {
			&:hover {
				--wp--custom--button--outline--hover--color--background: transparent !important;
			}

			svg {
				fill: var(--wp--preset--color--light-grey-1) !important;
			}
		}
	}
}

.wporg-theme-style-variations__row,
.wporg-theme-style-variations__grid {
	--wporg-theme-style-variations--size: 130px;

	&:focus {
		outline: none;
		border-radius: 2px;
		box-shadow: 0 0 0 1.5px var(--wp--custom--link--color--text);
	}

	.wp-block-wporg-screenshot-preview {
		min-width: var(--wporg-theme-style-variations--size);

		.wporg-screenshot-preview__container {
			aspect-ratio: 200/125;
		}
	}
}

.wporg-theme-style-variations__row {
	display: flex;
	gap: var(--wp--preset--spacing--10);
	margin-block-start: var(--wp--preset--spacing--10);
	overflow-x: scroll;
	overscroll-behavior: contain;
	scroll-snap-type: inline mandatory;
	scrollbar-width: none;

	.wp-block-wporg-screenshot-preview {
		flex-basis: var(--wporg-theme-style-variations--size);
	}
}

.wporg-theme-style-variations__grid {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: var(--wp--preset--spacing--10);
	margin-block-start: 0;
	overflow-x: initial;
}
