/*
 * Theme Name: WordPress.org Theme Directory, 2024
 * Theme URI: https://github.com/WordPress/wporg-theme-directory/
 * Author: WordPress.org
 * Author URI: https://wordpress.org/
 * Description: A block-based child theme for WordPress.org/themes/
 * Version: 1.0.0
 * License: GNU General Public License v2 or later
 * Text Domain: wporg-themes
 * Template: wporg-parent-2021
 */

/*
 * Note: only add styles here in cases where you can't achieve the style with
 * templates or theme.json settings.
 */

.wp-block-query-pagination.wp-block-query-pagination {
	margin-bottom: 0;
}

/* Add default focus style. */
:where(main) a:where(:not(.wp-element-button,.wp-block-wporg-link-wrapper)):focus,
:where(main) button:where(:not([class*="wp-block-button"])):focus {
	outline: none;
	border-radius: 2px;
	box-shadow: 0 0 0 1.5px var(--wp--custom--link--color--text);
}

/* Keep the border radius on grid items focus. */
.wp-block-wporg-link-wrapper:focus-visible {
	border-radius: 2px;
}

/* Add hover state to the grid items. */
.wp-block-wporg-link-wrapper:hover .has-border-color {
	border-color: var(--wp--preset--color--charcoal-1) !important;
}

/* Hover state for variation and pattern screenshots should match above. */
.wp-block-wporg-screenshot-preview:where(.is-linked-image):hover {
	border-color: var(--wp--preset--color--charcoal-1);
}

/* Add an aspect-ratio to prevent layout shift. */
.wp-block-query .wp-block-post-featured-image {
	aspect-ratio: 4/3;
}

/* Blocks with a border radius should hide overflow to prevent images from breaking out. */
.wp-block-group[style*="border-radius"] {
	overflow: hidden;
}

/* Hide the total count on the homepage */
body.browse-popular:not(.paged) .wp-block-wporg-query-total {
	display: none;
}

/* Both blocks are in the local header, but only one should be shown at any given time. */
body.blog .wp-block-wporg-local-navigation-bar .wp-block-post-title,
body.archive .wp-block-wporg-local-navigation-bar .wp-block-post-title,
body.search .wp-block-wporg-local-navigation-bar .wp-block-post-title {
	display: none;
}

body.single .wp-block-wporg-local-navigation-bar .wp-block-query-title,
body.page .wp-block-wporg-local-navigation-bar .wp-block-query-title {
	display: none;
}

/* Ensure download buttons take up the max space allowed. */
.wporg-theme-actions > .wp-block-button {
	flex-grow: 1;
}

.wporg-theme-actions > .wp-block-button a {
	width: 100%;
}

/*
 * Support nested full-width containers. This can be removed once we update to
 * Gutenberg 18.2+ and get https://github.com/WordPress/gutenberg/pull/60716.
 */
:where(main > .alignfull > .alignfull) {
	margin-right: calc(-1 * var(--wp--preset--spacing--edge-space));
	margin-left: calc(-1 * var(--wp--preset--spacing--edge-space));
}

/* Drop to a two column layout for grids. */
@media (max-width: 1080px) {
	.wp-block-post-template.is-layout-grid.columns-3 {
		grid-template-columns: repeat(2, minmax(0, 1fr));
	}
}
