:root {
	--wp--preset--color--white: #fff;
	--wp--preset--color--black-opacity-15: #00000026;
	--wp--preset--color--charcoal-1: #1e1e1e;
	--wp--preset--color--blueberry-1: #3858e9;
	--wp--preset--color--blueberry-3: #c7d1ff;
	--wp--preset--spacing--10: 10px;
	// stylelint-disable-next-line -- allow quotes.
	--wp--preset--font-family--inter: "Inter", sans-serif;
	--wp--preset--font-size--normal: 16px;
	--wp--custom--body--short-text--typography--line-height: 1.625;
}

// Double class for specificity.
.wp-embed.wp-embed {
	color: var(--wp--preset--color--charcoal-1);
	font-family: var(--wp--preset--font-family--inter);
	font-size: var(--wp--preset--font-size--normal);
	line-height: var(--wp--custom--body--short-text--typography--line-height);

	a {
		color: var(--wp--preset--color--blueberry-1);

		&:focus {
			outline: 1.5px solid var(--wp--preset--color--blueberry-1);
			outline-offset: 2px;
			border-radius: 2px;
			box-shadow: none;
		}
	}

	.wp-embed-more {
		color: var(--wp--preset--color--blueberry-1);
	}

	.wp-embed-featured-image {
		&.rectangular {
			margin-bottom: var(--wp--preset--spacing--10);
		}

		a {
			display: inline-block;
			border: 1px solid var(--wp--preset--color--black-opacity-15);
			border-radius: 2px;
			overflow: hidden;

			&:hover {
				border-color: var(--wp--preset--color--charcoal-1);
			}

			&:focus {
				outline: 1.5px solid var(--wp--preset--color--blueberry-1);
				outline-offset: 0;
				border-color: var(--wp--preset--color--white);
			}
		}

		img {
			vertical-align: middle;
		}
	}

	.wp-embed-heading a {
		color: var(--wp--preset--color--charcoal-1);
	}

	.wp-embed-site-title {
		font-weight: 500;
	}

	.dashicons-share {
		// stylelint-disable-next-line -- allow quotes.
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.5%2012q1.24%200%202.12.88T17.5%2015t-.88%202.12-2.12.88-2.12-.88T11.5%2015q0-.34.09-.69l-4.38-2.3Q6.32%2013%205%2013q-1.24%200-2.12-.88T2%2010t.88-2.12T5%207q1.3%200%202.21.99l4.38-2.3q-.09-.35-.09-.69%200-1.24.88-2.12T14.5%202t2.12.88T17.5%205t-.88%202.12T14.5%208q-1.3%200-2.21-.99l-4.38%202.3Q8%209.66%208%2010t-.09.69l4.38%202.3q.89-.99%202.21-.99z%27%20fill%3D%27%2323282d%27%2F%3E%3C%2Fsvg%3E");
	}

	.wp-embed-share-dialog-open:hover .dashicons-share {
		// stylelint-disable-next-line -- allow quotes.
		background-image: url("data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%27http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%27%20viewBox%3D%270%200%2020%2020%27%3E%3Cpath%20d%3D%27M14.5%2012q1.24%200%202.12.88T17.5%2015t-.88%202.12-2.12.88-2.12-.88T11.5%2015q0-.34.09-.69l-4.38-2.3Q6.32%2013%205%2013q-1.24%200-2.12-.88T2%2010t.88-2.12T5%207q1.3%200%202.21.99l4.38-2.3q-.09-.35-.09-.69%200-1.24.88-2.12T14.5%202t2.12.88T17.5%205t-.88%202.12T14.5%208q-1.3%200-2.21-.99l-4.38%202.3Q8%209.66%208%2010t-.09.69l4.38%202.3q.89-.99%202.21-.99z%27%20fill%3D%27%233858e9%27%2F%3E%3C%2Fsvg%3E");
	}

	.wp-embed-share-dialog-open:focus .dashicons,
	.wp-embed-share-dialog-close:focus .dashicons {
		outline: none;
		border-radius: 2px;
		box-shadow: 0 0 0 1.5px var(--wp--preset--color--blueberry-1);
	}

	.wp-embed-share-dialog-close:focus .dashicons {
		box-shadow: 0 0 0 1.5px var(--wp--preset--color--blueberry-3);
	}
}
