.wp-block-wporg-meta-list {
	font-size: var(--wp--preset--font-size--small);
	line-height: var(--wp--custom--body--small--typography--line-height);

	> ul {
		list-style: none;
		margin-block: 0;
		padding-inline-start: 0;

		li {
			display: flex;
			justify-content: space-between;
			flex-wrap: wrap;
			gap: 0 var(--wp--preset--spacing--10);
			padding-block: calc(var(--wp--preset--spacing--10) * 0.8);
			border-bottom: 1px solid var(--wp--preset--color--light-grey-1);
		}

		span + span {
			font-weight: 500;
		}
	}
}
